<div class="card mt-5">
  <div class="card-body">
      <h6 class="text-center">Products</h6>
    <form #productForm="ngForm"(ngSubmit)="onSubmit(productForm)">
      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="productService.selectedProduct.$key">
      <div class="form-group">
        <input type="text" name="name" class="form-control" #name="ngModel"[(ngModel)]="productService.selectedProduct.name" placeholder="Add Product Name">
      </div>
      
      <!-- <div class="form-group">
        <input type="text" name="category" class="form-control" #category="ngModel"[(ngModel)]="productService.selectedProduct.category" placeholder="Add Product Category">
      </div> -->
      <div class="form-group">
        <input type="text" name="location" class="form-control" #location="ngModel"[(ngModel)]="productService.selectedProduct.location" placeholder="Add Product Location">
      </div>  
      <div class="form-group">  
        <input type="number" name="price" class="form-control" #price="ngModel"[(ngModel)]="productService.selectedProduct.price" placeholder="Add Product Price">
      </div> 

    <div class="form-group">
        <a class="badge badge-purple badge-outlined" (click)="categoryModal()">Add New Category <i class="fas fa-plus-circle text-success"></i></a>
      <select class="form-control" name="categoryS" #categoryS="ngModel"[(ngModel)]="productService.selectedProduct.categoryS">
        <option disabled hidden [value]="selectUndefinedOptionValue">Please select value</option>
        <option *ngFor="let catg of categoryList; let i = index" [ngValue]="catg.$key" >
            {{catg.name}}
        </option>
    </select>
 
  </div> 
    <div class="form-group">
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-plus-circle"></i> Add A Product
      </button>
      <button class="btn btn-secondary" type="reset" (click)="resetForm(productForm)">
          <i class="fas fa-sync-alt"></i> Reset
        </button>
    </div>
    </form>
  </div>
</div>
