<div class="card mt-5">
  <div class="card-body">
      <h6 class="text-center">Customers</h6>
    <form #customerForm="ngForm"(ngSubmit)="onSubmit(customerForm)">
      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="customerService.selectedCustomer.$key">
       
      <div class="form-group">
        <input type="text" name="name" class="form-control" #name="ngModel"[(ngModel)]="customerService.selectedCustomer.name" placeholder="Add Customer Name">       
      </div>
      
      <div class="form-group">
        <input type="text" name="lastname" class="form-control" #lastname="ngModel"[(ngModel)]="customerService.selectedCustomer.lastname" placeholder="Add Customer Last Name">
      </div>

      <div class="form-group">
        <input type="text" name="phone" class="form-control" #phone="ngModel"[(ngModel)]="customerService.selectedCustomer.phone" placeholder="Add Customer Phone">
      </div>

      <div class="form-group">
        <textarea name="address" class="form-control" #address="ngModel"[(ngModel)]="customerService.selectedCustomer.address" placeholder="Add Customer Address"></textarea>
        
      </div>
     
    
    <div class="form-group">
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-plus-circle"></i> Add A Customer
      </button>
      <button class="btn btn-secondary" type="reset" (click)="resetForm(customerForm)">
          <i class="fas fa-sync-alt"></i> Reset
        </button>
    </div>
    </form>
  </div>
</div>

