.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #bfbfbf;
    border-radius: 0.25rem;

        height: 8px;
    margin-bottom: 8px;
    background-color: #fff;
    border-radius: 4px;
}


.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width 0.6s ease;

    margin-right: 2px;
    padding: 0 4px;

   
}