<app-sorting></app-sorting>
<app-transfering></app-transfering>
<app-transfering-group></app-transfering-group>
<app-customizing-preview></app-customizing-preview>
<app-customizing-placeholder></app-customizing-placeholder>
<app-sorting-horizontal></app-sorting-horizontal>
<app-restrict-boundary></app-restrict-boundary>
<app-restrict-axis></app-restrict-axis>
<app-restrict-predicate></app-restrict-predicate>
<app-disabled-dragging></app-disabled-dragging>
<app-disabled-sorting></app-disabled-sorting>
<router-outlet></router-outlet>