

<div class="col-md-12 text-center" >
       
    
        <div class="card mt-5">
            <div class="card-body">
              <h6 class="text-center">List of Invoices</h6>
             <table class="table table-sm table-hover table-bordered ">
                  <thead class="thead-light">
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Total</th>
                        <th scope="col">Vendor</th>
                        <th scope="col">Date</th>
                        <th scope="col">Purchases</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                <tbody>
                  <tr *ngFor="let invoice of invoiceList">
                    <td>{{invoice.customer.name}} {{invoice.customer.lastname}}</td>
                    <td>{{invoice.totalPrice}}</td>
                    <td>{{invoice.uid}}</td> 
                    <td>{{invoice.createdAt}}</td>   
                    <td>
                        <li class="list-group-item"
                        *ngFor="let purchase of invoice.purchases">
                            {{purchase.product.name}}
                        </li>
                    </td>                 
                    <!-- <td>
                      <a  class="btn btn-secondary text-white" (click)="onEdit(invoice)"><i class="far fa-edit"></i>
                      
                      </a>
                  </td> -->
                  <td>
                      <a class="btn btn-danger text-white" (click)="onDelete(invoice.$key)">
                        <i class="fas fa-trash-alt"></i>
                      
                      </a>
                  </td>
          
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

  </div>
