.custom-slider-main{
    display: flex;
    overflow: hidden;    
    scroll-behavior: smooth;
}
.info-widget{
  width: 150px;
  height:150px
}
  .info-widget {
        width: 31.75%;
        border: 1px solid black;
        display: inline-block;
      }

      .middle {
        float: left;
        width: 90%;
        overflow: auto;
        white-space: nowrap;
      }