<div class="page-title-holder">
    <h1 class="page-title">To-Do List</h1>
    </div>
<div class="top-head">
    <ul class="top-list p-0">
      <li>
          <a  routerLink="undone" routerLinkActive="active">To Do</a>
      </li>
      <li>
        <a routerLink="done" routerLinkActive="active">Done</a>
    </li>
    <li>
        <a routerLink="add" routerLinkActive="active">Add Todo</a>
    </li>
    <li>
        <a routerLink="all" routerLinkActive="active">All</a>
    </li>
    </ul>

</div>