<header></header>

<div class="container content"> <!-- container centers content on large screens -->
  <div class="row">             <!-- responsive row has 12 columns by default -->
    <div class="col-md-6">      <!-- uses 6 columns on medium and larger screens... -->
  <div class="card">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>

  </div>
    </div>
    <div class="col-md-6">      <!-- uses 12 columns on smaller than medium screens -->
     <div class="card">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
     <button class="btn btn-primary">click</button>
     </div>
    </div>
  </div>
</div>

<footer></footer>