.list-group {
  max-height: 60vh;
  overflow-y: scroll;
}
.page-header{
  font-weight: 800;
}
.d-inline-block{
  display: inline-block
}
.lead{
  font-size: 14px;
}
.border{
  border-radius: 1.5rem;
}
.list-group-item{
  border: none;
}
.bg-gray{
  background-color: #d3d3d3
}
.bg-light-gray{
  background-color: #d3d3d35e
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px lightgrey; 
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #817C9BB8; 
  border-radius: 8px;
  height: 35px;
}

::-webkit-scrollbar-thumb:hover {
  background: #817C9BB8; 
}

 .search {
  float: left;
  position: absolute;
  font-size: 15px;
  left:28px;
  top:8px;
}



