<div class="graph-main">
	<div class="graph-target"></div>
	<div style="padding-top: 4px;" >
		<div class="graph-main-bar">
			<div class="graph-main-bar-side1"></div>
			<div class="graph-main-bar-side2"></div>
		</div>
	</div>
</div>

<div class="graph-main">
	<div class="graph-target"></div>
	<div style="padding-top: 4px;" >
		<div class="graph-main-bar" style="border-radius: 12px;">
			<div class="graph-main-bar-side1" style="width:10%"></div>
			<div class="graph-main-bar-side2" style="width:20%"></div>
		</div>
	</div>
</div>