<app-card>
    <div class="header">Merging of two or more objects using object destructuring</div>
    <div class="body">
        {{mergedObj | json}}
    </div>
</app-card>
<app-card>
    <div class="header">Merge objects into an array of objects</div>
    <div class="body">
        {{mergedArrayOfObj | json}}
    </div>
</app-card>
<app-card>
    <div class="header">Merging two arrays</div>
    <div class="body">
        {{mergedTwoArray | json}}
    </div>
</app-card>
<app-card>
    <div class="header">Union of arrays</div>
    <div class="body">
        {{AandB | json}}
    </div>
</app-card>
<app-card>
    <div class="header">Union of objects in an array based on unique key value</div>
    <div class="body">
        {{mergedTwoArrayOfObjectsUnique | json}}
    </div>
</app-card>