<div class="container mt-2">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="example1" routerLinkActive="active">Example 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="example2" routerLinkActive="active">Example 2</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <ul class="list-group">
    <li class="list-group-item">
      <a routerLink="example1" routerLinkActive="active">Example 1</a>
      <a routerLink="example2" routerLinkActive="active">Example 2</a>
    </li>
  </ul>
  <router-outlet></router-outlet> -->
  
</div>